* {
  box-sizing: border-box;
}

.content {
  width: 250px;
  padding: 10px;
  font-size: 12px;
  overflow: hidden;
  text-align: center;
}
.list {
  box-sizing: border-box;
  padding: 1.25rem;
  display: grid;
}

.listItemMetaShort:hover {
  border-radius: 50%;
  background: #6495ed;

  transform: translateY(-2px);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.pagination {
  padding: 10px;
  text-align: center;
  display: grid;
  overflow: hidden;
}
