* {
  box-sizing: border-box;
}

.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
}

.content {
  max-height: 100%;
  padding: 10px;
  font-size: 12px;
  overflow: hidden;
}
.list {
  box-sizing: border-box;
  overflow: hidden;
  padding: 1.25rem;
}

.list:hover {
  border-bottom: solid 2px #6495ed;
  border-top: solid 2px #6495ed;
  transform: translateY(2px);
  --tw-translate-x: 0;
  --tw-translate-y: -2rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.pagination {
  padding: 10px;
  text-align: center;
  display: grid;
  overflow: hidden;
}
