.container {
  width: 350px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  text-align: center;
  border: 1 solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  margin-bottom: 24px;
}

.btn {
  /* margin-top: 15px; */
  width: 50%;
}

@media screen and (max-width: 767px) {
  .container {
    height: auto;
  }
}
